.add-list {
  &__popup {
    width: 240px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;

    .button {
      width: 100%;
      margin-top: 15px;
    }
    &-colors {
      margin-top: 12px;
    }
    .badge {
      height: 20px;
      width: 20px;
      position: static;
    }
  }
}
